# Build folders
build*/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Qt Creator files
*.config
*.files
*.includes
*.creator
*.user
*.autosave

# VScode
.vscode

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# KDE desktop stuffs
.directory

git-commands.txt
.idea/

*.tmp
doxygen_sqlite3.db

# Visual Studio settings folder
.vs/