# Tulip continuous integration on windows platform through AppVeyor.
# Tulip will be compiled for 32 bits and 64 bits windows using :
#   - GCC compiler provided by the MSYS2 project
#   - Microsoft Visual Studio 2015 compiler
# C++11 standard, Qt 5.9 and Python 3.6 will be used to build Tulip with both compilers.

# use Visual Studio 2015 appveyor image for the builds
os: Visual Studio 2015

# Use build caches that will be saved and restored between build jobs.
# Those caches will hold ccache content for gcc builds and clcache content for msvc builds
# in order to speedup incremental builds.
# Appveyor cache storage is limited to 1GB, so cache should be cleared once it is exceeding this quota
# (see https://www.appveyor.com/docs/build-cache/)
cache:      
  - C:\msys64\home\appveyor\.ccache
  - C:\Users\appveyor\clcache	

init:
  - ps: $env:APPVEYOR_SAVE_CACHE_ON_ERROR = "true"

# define build jobs
environment:
  matrix:
    # 64 bits GCC build
    - MSYS2_ARCH: x86_64
      MSYSTEM: MINGW64
      PYTHON2_HOME: "C:/Python27-x64"
      PYTHON3_HOME: "C:/Python36-x64"

    # 64 bits MSVC build
    - CMAKE_VS_GENERATOR: "Visual Studio 14 2015 Win64"
      MSVC_PLATFORM: "x64"
      MSVC_PLATFORM_TOOLSET: "v140"
      QT5_DIR: "C:/Qt/5.9/msvc2015_64"
      PYTHON_EXECUTABLE: "C:/Python36-x64/python.exe"
      
    # 32 bits GCC build
    - MSYS2_ARCH: i686
      MSYSTEM: MINGW32
      PYTHON2_HOME: "C:/Python27"
      PYTHON3_HOME: "C:/Python36"
    
    # 32 bits MSVC build
    - CMAKE_VS_GENERATOR: "Visual Studio 14 2015"
      MSVC_PLATFORM: "Win32"
      MSVC_PLATFORM_TOOLSET: "v140"
      QT5_DIR: "C:/Qt/5.9/msvc2015"
      PYTHON_EXECUTABLE: "C:/Python36/python.exe"

# build script that simply call the right batch script depending on the compiler used
build_script:
  - 'if defined MSYS2_ARCH ("%APPVEYOR_BUILD_FOLDER%\appveyor_msys2.bat") else ("%APPVEYOR_BUILD_FOLDER%\appveyor_msvc.bat")'

# get the Tulip version for deployment to bintray
after_build:
  - ps: "$env:TULIP_VERSION = (((Get-Content ($env:APPVEYOR_BUILD_FOLDER + '/build/library/tulip-core/include/tulip/TulipRelease.h') | %{ if ($_ -match '^#   define TULIP_VERSION.*$') { $_; } }) -replace '#   define TULIP_VERSION ', '') -replace '\"', '')"

# set generated installers as artifacts to deploy
artifacts:
  - path: build\*.exe
    name: tulip_installers

# deploy Tulip installers on bintray
deploy:
  - provider: BinTray
    username: anlambert
    api_key:
      secure: W3mHvyyVwEOMbCCDQ0NXobR3ByebQBxtxiATX4EE7Nt88Xei8cfrmIWHbi1Z2IKi
    subject: tulip-dev
    repo: tulip_binaries
    package: Tulip
    version: $(TULIP_VERSION)
    publish: true
    override: true
    artifact: tulip_installers
    on:
      branch: master
      APPVEYOR_REPO_NAME: Tulip-Dev/tulip

# send build status notifications to tulipdev mailing list
notifications:
  - provider: Email
    to:
      - tulipdev@labri.fr
    on_build_success: false
