/*
    Tulip default CSS for HTML documentation.


    This program is free software; you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation; either version 2 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program; if not, write to the Free Software
    Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

*/

body {
  background-color: white ;
  color: black;
  font-family: sans-serif;
  padding: 0;
  margin: 0; 
}



.legalnotice, .copyright {
  padding: 0;
  margin: 0; 
}

.abstract {
  font-weight: bolder;
  padding-right: 1em; 
}

.toc, .list-of-tables {
  padding-left: 1em;
}

.sect1, .chapter, .synopsis, .appendix, .preface, .article, .refsect1, .index, .glossary, .section, .biblioentry {
  padding: 1em;
}

.sect3 {
	padding: 0.5em;
}
/*
.sect4 {
	padding: 0.5em;
}*/

.author {
  color: #4B4B4B;
  font-weight: bolder;
  padding: 0;
  margin: 0;
}

.othercredit {
  line-height: 1em;
}

.chapter .sect1, .chapter .titlepage, .sect1 .titlepage, .article .titlepage {
  padding: 0em;
  color:#000000
}

.titlepage {
  padding-left: 1em;
  padding-right: 1em;
}

/* Links in Navigation */

.navLeft a:link, .navCenter a:link, .navRight a:link, .header a:link, .header a:visited, .bottom-nav a:link, .bottom-nav a:visited {
  color: #41597A;
  font-weight: bold;
}


/* Nice link colors for the main text */

:link { 
  color: #41597A;
}

:visited { 
  color: #597ba8;
}

.navfooter, .navheader{ background-color: #EAEAEA}

.navLeft {
  position: absolute; 
  left: 0px;
}

.navRight {
  position: absolute; 
  right: 20px;
}

.navCenter {
  text-align: center;
  align: center;
}

.bannerBottomLeft {
  position: absolute; left: 0px;
}

.bannerBottomRight {
  position: absolute; right: 0px;
}

.header {
  border-bottom: 1px solid #206dcd;
  border-top: 1px solid white;
  color: white;
  font-size: small;
  height: 1.7em;
  line-height: 1em;
  margin: 0px;
  padding-bottom: 0px;
  padding-left: 1em;
  padding-right: 0px;
  padding-top: 0px;
  vertical-align: middle;
}

.bottom-nav { 
  background-color: #3E91EB; 
  border-bottom: 1px solid #206dcd; 
  border-top: 1px solid white;
  color: white; 
  font-size: small; 
  height: 1.7em; 
  line-height: 1em; 
  margin: 0px; 
  padding-bottom: 0px; 
  padding-left: 1em;
  padding-right: 0px; 
  padding-top: 10px; 
  vertical-align: middle; 
}

hr{ border:0; background-color:#597ba8; height:1px}
/* A little bit of padding makes the tables for keybindings etc much easier to read */
.application{font-style: italic}

table { 
  padding: 5px; 
} 

dl { 
  margin-top: 0em; 
  margin-bottom: 0.5em; 
}

dt { 
  margin-top: 1em; 
}

.code, .filename {
    font-size: 10pt;
    color: rgb(0,96,160)
}

.methodname {
	font-weight: bold ;
   	font-size: 11pt;
	    	color: rgb(0,96,160)
}

div.toc dt { 
  margin-top: 0px; 
}
div.screenshot { 
  margin-bottom: 1em;
  margin-top: 1em; 
}

div.informalexample { 
  border-style: dotted;
  padding: 10px;
}

/* But no padding for navigation elements */

.toplogo, .navbackground { 
  padding: 0px; 
}

table.programlisting
table.screen { 
  border-style: none;
  /*background-color: rgb(224,224,224);*/
  table-layout: auto; /* 100%? */
  color: rgb(0,0,0); /* should be inherit */
}

p { 
  color: black;
  text-align: justify; 
}

p, h1, h2, h3, h4, h5, h6, td, th { 
  font-family: sans-serif;
}

.guimenu, .guimenuitem, .guisubmenu { 
  background-color: rgb(250,250,250);
  color: rgb(0,0,0); /* should be inherit */
}

.guilabel, .interface, .guibutton { 
  background-color: rgb(250,250,250);
  color: rgb(0,0,0); /* should be inherit */
}

.shortcut { 
  background-color: rgb(250,250,250);
  color: rgb(0,0,0); /* should be inherit */
}

.shortcut .keycap { 
  background-color: rgb(250,250,250);
  color: rgb(0,0,0); /* should be inherit */
}

.question { 
  font-weight: bolder; 
}

.accel { 
  background-color: rgb(250,250,250);
  color: rgb(0,0,0); 
  text-decoration: underline;
}

.option, .command { 
  color: rgb(0,96,160);
  font-weight: bold;
  font-family: sans-serif;
  font-size: 11pt
}

h1, h2, h3, h4, h5, h6 { 
  color: #000000;
}

.arg, .parameter, .replaceable { 
  color: rgb(0,128,64);
  font-style: italic;
}

.programlisting { 
  background-color: #F4F4F4 ;
  color: rgb(0,0,0); /* should be inherit */
  border-style: dotted;
  border-color: #D5D5D5;
  border-width: 1px; 
  padding: 5px; 
  font-size: 9pt;
} 

.screen { 
  background-color: #202020 ;
  color: white; /* should be inherit */
  border-style: dotted;
  border-color: #D5D5D5;
  border-width: 1px; 
  padding: 5px; 
  font-size: 9pt;
} 



/* This one is set in inches because the admonitions are set in inches
   and they're more difficult to change.  We can live with it in here, 
   for the meantime, it gives consistent margins */

.example { 
  margin-left: 0.5in; 
  margin-right: 0.5in;
}

div{color:black}

div.mediaobject { 
  /* float: right; */ 
  /* might make it much nicer. although someone has to
     understand the rules ;-)  You also don't want it to be
     surrounded by text it doesn't refer to ...  But that
     may be among others a question of writing style. */
  text-align: center; /* a bit of a hack: it should
                         position _images_ */
}

.caption { 
  margin: 0em 2em 3em 2em; 
  text-align: center;
}

.inlinemediaobject { 
  vertical-align: baseline; 
  padding-right: 1em;
  padding-left: 1em;		
}

/* An idea that could be nice: a search engine looking for specific
classes could display them in some conspicuous color.  All that is
needed is an on the fly generated style element/style sheet. */

/* Only used in the hand-made HTML license texts */
body.license { 
  text-align: justify; 
  color: rgb(0,0,0);
}
pre.license { 
  font-family: monospace;
  color: rgb(0,0,0);
}

span{color:black}
span.quote{color:#41597A}




div.book {
}

.note h3 {
	color: blue;
	font-size: 10pt;
}


.prompt {
	color: #CCCC66;
	font-size: 9pt;
}
