
QTabWidget {
  background-color: transparent;
}

QTabWidget::pane {
  background-color: white;
  border: 1px solid #262829;
}



QTabBar::tab {
  border-image:none;
  border: 1px solid #262829;
  border-right: 0px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  min-height: 15ex;
  padding-right: 3px;
  font: bold;
}

QTabBar::tab:!selected {
  margin-left: 1px;
}

QTabBar::tab:!selected {
  background-color: #404244;
  color: gray;
}

QTabBar::tab:!selected:hover {
  background-color: #565656;
}

QTabBar::tab:selected {
  background-color: #262829;
  color: white;
}

QTabBar::tab:selected:hover {
  background-color: #565656;
}

QTabBar::close-button:selected  {
    image: url(:/tulip/gui/icons/close-selected.svg);
    background: transparent;
}

QTabBar::close-button  {
    image: url(:/tulip/gui/icons/close-unselected.svg);
    background: transparent;
}

QTabBar::close-button:hover
{
    image: url(:/tulip/gui/icons/close-hover.svg);
    background: transparent;
}

QTabBar::close-button:pressed {
    image: url(:/tulip/gui/icons/close-pressed.svg);
    background: transparent;
}
